/*NULLIFY*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.display-none {
  display: none;
}
/*--------------------*/

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  background: #e0e0e0;
}

.widget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  min-width: 60vw;
  min-height: 90vh;
  max-height: 90vh;

  margin: 10px 5px;
  padding: 10px;
  font-size: medium;
  text-align: center;

  background-color: #fafafa;
  border: 1px solid black;
}

.chat-container {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  overflow: hidden;
}

.list-wrapper {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-basis: 50%;
  min-height: 60vh;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 10px;
  width: 100%;
  min-height: min-content;
}

.msg-container {
  background-color: #ffffff;
}
.users-container {
  background-color: #f0f0f0;
  justify-content: flex-start;
}

.chat-header {
  font-size: x-large;
  margin: 10px 0px;
}

.unit {
  position: relative;
  display: flex;
  width: fit-content;
  align-self: flex-start;
  text-align: left;
  font-size: medium;
  line-height: 1.5;

  margin-bottom: 10px;

  padding: 10px 15px 10px 10px;

  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgb(0 0 0/16%), 0 2px 5px 0 rgb(0 0 0/12%);

  list-style-type: none;
}
.myself {
  align-self: flex-end;
  text-align: right;
  background-color: rgb(229, 255, 219);
}
.userpic {
  background: url('../img/unnamed.png') 0 0 / contain no-repeat;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.error {
  background-color: darkred;
  color: #ffffff;
}

.unitForm {
  position: absolute;
  z-index: 2;
  margin: 10px 0px;
  padding: 10px 15px 10px 10px;

  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgb(0 0 0/16%), 0 2px 10px 0 rgb(0 0 0/12%);
}

.form__input {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  margin: 10px 10px 10px 0px;

  width: 100%;

  font-size: medium;
  line-height: 1.5;
  text-align: left;
  vertical-align: middle;

  border: black 1px solid;

  resize: none;
}

.btn {
  display: inline-block;
  position: relative;

  font-size: medium;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;

  width: 30%;
  padding: 5px 10px;
  margin: 10px 0px 10px 10px;
}

.btn-submit {
  color: black;
  background-color: #ffffff;
  border-color: #000000;

  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.form__input-button-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: min-content;
  width: 100%;
}

.form-error {
  position: absolute;
  padding: 5px 10px;
  margin: 10px;
  width: 200px;
  background: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  border: 1px black solid;
  border-radius: 5px;
  font-size: medium;
  z-index: 999;
}

.valid {
  border: 1px solid lightgreen;
}

.invalid {
  border: 1px solid red;
}
